.about-body{
	display: flex;
}
#family-img {
	width: 100%;
	filter: grayscale(100%);

@media only screen and (min-width: 600px) {
	#family-img {
		height: 800px;
		float: left;
	}
	#about-body {
		padding: 2rem;
	}
	#about-body > img {
		margin-right: 2rem;
	}
	#about-body > p {
		display: inline;
		padding: 2rem;
	}
}
