body{
	background: #2B2B2B;
	margin: 0;
}
* {
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
}
h1 {
	text-align: center;
	margin-top: 0;
	font-size: 1.5rem;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin: 0;
	width: 100%;
}
h2 {
	margin-top: 0;
	padding-top: 1em;
	text-align: center;
}
h5 {
	margin: 0;
}
p {
	line-height: 1.5;
	font-size: 15.25pt;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header {
  	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	width: 100%;
	background: rgba(43,43,43, .7);
	z-index: 1;
	padding: 2rem;
}
footer {
	position: sticky;
	position: -webkit-sticky; /* Safari */
	bottom:0;
	width:100%;
	height: 5em;
	padding-top: 1em;
	background-image: linear-gradient(rgba(43,43,43, .0) ,rgba(43,43,43, .8) 65%);
}
button {
	background: none;
	border-radius: none;
	border: 1pt solid white;
	padding: 1rem;
	font-size: 16pt;
	font-weight: 700;
}
button:hover{
	background: white;
	color: #2B2B2B;
}
header > a {
	display: block;
	flex-grow: 2;
}
a > img {
	filter: invert(100%);
}

.top-img {
	background-image: url("shapelined-_JBKdviweXI-unsplash mobile-copy.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 300px;
	filter: brightness(30%);
}
.display {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 9rem 0;
	border-bottom: 1px solid white;
}
.display > p {
	width: 90%;
}
.project-div {
	height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	margin: 2em 0;
}
.visit-site-div {
	opacity: 0;
	background: rgba(255,255,255,.6);
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(4px) grayscale(50%);
	transition: opacity 1s;
}
.visit-site-div * {
	color: #2B2B2B;
	width: 80%;
}
.visit-site-div.visit-site-div-visible {
	opacity: 1;
}
.project-info > * {
	width: 80%;
}
.project-info > strong, .project-info > p {
	margin-left: 1em;
}
.project-info > hr {
	margin-left: 0;
	margin-right: 0;
	width: 90%;
}
.display-header {
	font-size: 28pt;
	font-family: 'Lato', sans-serif;
	width: 90%;
	text-align: left;
	margin-right: 2rem;
}
.button-div {
	display: flex;
	justify-content: center;
	width: 100%;
}
.about-title-div{
	display: flex;
	flex-direction: column;
}
.about-title-div > img {
	width: 80%;
	margin-left: 25px;
	margin-top: 25px;
}
.secondary-page-title {
	padding: 1rem 0 2rem 0;
	margin: 1rem;
	border-bottom: 1px solid white;
}


/* Menu Modal */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background: #2B2B2B;
	height: 100%;
	width: 100%;
	padding: 2rem;
}
.menu-item {
	font-size: 25pt;
	margin: 2rem;
	border-bottom: 2pt solid transparent;
}
.menu-item:hover {
	border-bottom: 2pt solid white;
}
#menu-items {
	flex-direction: column;
}
#recent-projects-display{
	align-items: flex-start;
}
#recent-project-thumbnails{
	justify-content: space-around;
	flex-flow: column nowrap;
	width: 95%;
	padding-top: 1rem;
}
#recent-projects-info{
	width: 90%;
	top: 104px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
#recent-projects-info > * {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#recent-projects-info > p {
	line-height: 1.5;
	font-size: 15.25pt;
	margin-left: 0;
}
#project0 {
	background-image: url("https://i.imgur.com/YUb5kzs.jpg");
}
#project1 {
	background-image: url("https://i.imgur.com/9BJDEMS.png");
}
#project2 {
	background-image: url("https://i.imgur.com/ya131bz.png");
}
#project3 {
	background-image: url("https://i.imgur.com/ZOppzbD.png");
}
#project4 {
	background-image: url("https://i.imgur.com/VxboGui.png");
}
#project5 {
	background-image: url("https://i.imgur.com/7WBOaMr.png");
}

@media only screen and (min-width: 600px) {
	h1 {
		font-size: 25px;
	}
	i {
		margin-left: 1em;
	}
	.top-img {
		background-image:
			linear-gradient(black, black),
			url("shapelined-_JBKdviweXI-unsplash.jpg");
		background-blend-mode: saturation;
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: cover;
		background-attachment: fixed;
		width: 100%;
		height: 500px;
		filter: brightness(30%);
	}
	.display {
    	width: 80%;
    }
	.display > p, .display-header, .about-info, #recent-project-thumbnails, #recent-projects-info {
		width: 500px;
	}
	.display-header {
		font-size: 60pt;
	}
	.display-header > span {
		font-size: 30pt;
	}
	.project-div {
		width: 450px;
		height: 350px;
		margin: 2em 2em 0 0;
	}
	.modal {
		background: #2B2B2BCC;
		backdrop-filter: blur(10px);
	}
	.about-title-div > img {
		width: 400px;
	}
	#recent-projects-info{
		width: 500px;
	}
	#recent-project-thumbnails{
		margin-right: 2rem;
	}
}

@media only screen and (min-width: 1290px) {
	#recent-projects-info {
		position: sticky;
		position: -webkit-sticky; /* Safari */
		order: 1;
	}
}

/* Material Icons Recommended Rules */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
