body{
	background: #2B2B2B;
	margin: 0;
}
body * {
	color: white;
	font-family: 'Lato', sans-serif;
}
h1 {
	text-align: center;
	margin-top: 0;
	font-size: 25pt;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin: 0;
	width: 100%;
}
i {
	margin-left: 1em;
}
h2 {
	margin-top: 0;
	padding-top: 1em;
	text-align: center;
}
h5 {
	margin: 0;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header {
  	position: fixed;
	position: -webkit-sticky; /* Safari */
	display: flex;
	align-items: center;
	top: 0;
	width: 100%;
	background: rgba(43,43,43, .7);
	z-index: 1;
	padding: 2rem;
}
footer {
	position: sticky;
	position: -webkit-sticky; /* Safari */
	bottom:0;
	width:100%;
	height: 5em;
	padding-top: 1em;
	background-image: linear-gradient(rgba(43,43,43, .0) ,rgba(43,43,43, .8) 65%);
}
button {
	background: none;
	border-radius: none;
	border: 1pt solid white;
	padding: 1rem;
	font-size: 16pt;
	font-weight: 700;
}
button:hover{
	background: white;
	color: #2B2B2B;
}
*{
	text-decoration: none;
}
a > img {
	filter: invert(100%);
}
.top-img {
	background-image:
		linear-gradient(black, black),
		url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
	background-blend-mode: saturation;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 500px;
	filter: brightness(30%);
}

.display {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 9rem 0;
	border-bottom: 1px solid white;
}
.display > p {
	line-height: 1.5;
	font-size: 15.25pt;
	width: 500px;
}
.project-div {
	width: 450px;
	height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	margin: 2em 2em 2em 0;
}
.project-info {
	opacity: 0;
	backdrop-filter: none;
	background: rgba(255,255,255,.6);
	color: #2B2B2B;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(4px) grayscale(50%);
	transition: opacity 1s;
}
.project-info.project-info-visible {
	opacity: 1;
}
.project-info > * {
	color: #2B2B2B;
	width: 80%;
}
.project-info > strong, p {
	margin-left: 1em;
}
/* .project-info > p {
	margin-left: 1em;
} */
.project-info > hr {
	width: 80%;
}
.display-header {
	font-size: 60pt;
	font-family: 'Lato', sans-serif;
	width: 500px;
	text-align: left;
	margin-right: 2rem;
}
.button-div {
	display: flex;
	justify-content: center;
	width: 100%;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background: #2B2B2BCC;
	height: 100%;
	width: 100%;
	padding: 2rem;
	backdrop-filter: blur(10px);
}
#menu-items {
	flex-direction: column;
}
.menu-item {
	font-size: 20pt;
	margin: 2rem;
	border-bottom: 2pt solid transparent;
}
.menu-item:hover {
	border-bottom: 2pt solid white;
}
#recent-projects-display{
	align-items: flex-start;
}
#recent-project-thumbnails{
	justify-content: space-around;
	flex-flow: column nowrap;
	margin-right: 2rem;
	width: 500px;
	padding-top: 1rem;
	/* height: 600px; */
}
#recent-projects-info{
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
#recent-projects-info > * {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#recent-projects-info > p {
	line-height: 1.5;
	font-size: 15.25pt;
	margin-left: 0;
}
#project1 {
	background-image: url("https://i.imgur.com/9BJDEMS.png");
}
#project2 {
	background-image: url("https://i.imgur.com/ya131bz.png");
}
#project3 {
	background-image: url("https://i.imgur.com/ZOppzbD.png");
}
#project4 {
	background-image: url("https://i.imgur.com/VxboGui.png");
}
#project5 {
	background-image: url("https://i.imgur.com/qlnxpwB.png");
}

@media screen and (max-width: 1100px) {
	.display-header {
		order: -1;
	}
}

@media screen and (max-width: 600px) {
	main > div {
    	width: 90%;
    }
}

/* Material Icons Recommended Rules */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
